<div class="example-container mat-elevation-z8">
    <h2>Lista de Reservas</h2>
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
   
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="data" class="example-table">
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <tr mat-row *matRowDef="let rowData; columns: displayedColumns"></tr>
        
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
          <mat-cell *matCellDef="let column">{{column.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
          <mat-cell *matCellDef="let column">{{column.name}}</mat-cell>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      </table>
    </div>
  </div>